<h1 class="mt-4">Admin</h1>
<p class="lead mb-3">Welcome <%= user %></p>
<p class="lead mb-3">Current Active Sessions:</p>
<% for (ID in sessionID){ %>
    <p class="lead mb-3">Session ID: <%= ID %></p>
    <p class="lead mb-3">User ID: <%= sessionID[ID].passport.user %></p>
    <a  href="/destroy/<%= ID %>" class="btn btn-primary" >Revoke Session</a>  
<% } %>


