<body>
<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user %></p>
<a href="/auth/logout" class="btn btn-secondary">Logout</a>
<input type="file" name="file" id="file">
<script src="app.js"></script>
</body>